In [95]:
import pandas as pd

In [96]:
df = pd.read_csv('C:/Users/Willian/Desktop/Radartona/bases_tratadas/base_radares.csv', sep=";")

In [97]:
df.head()

                    id_radar velocidade_maxima
0                       6666           50 km/h
1                       6667           50 km/h
2  6742 - 6743 - 6796 - 6797        90/60 km/h
3    6754 - 6753 - 6907-6908        90/60 km/h
4   6672 - 6671 - 6881- 6906        90/60 km/h

In [98]:
df_fim = pd.DataFrame(columns=['id_radar','velocidade_maxima'])

for index, row in df.iterrows():
    ids = row['id_radar'].replace(" ","").split("-").split("/")
    for id in ids:
#         df2 = pd.DataFrame([id, row['velocidade_maxima']])
#         df2 = pd.DataFrame({"id_radar":[id],"velocidade_maxima":[row['velocidade_maxima']]})
#         print(df2)
        df_fim = df_fim.append({"id_radar": str(id), "velocidade_maxima": row["velocidade_maxima"]}, ignore_index=True)
#     df.loc[index, 'bairro'] = bairro

In [99]:
df_fim

     id_radar velocidade_maxima
0        6666           50 km/h
1        6667           50 km/h
2        6742        90/60 km/h
3        6743        90/60 km/h
4        6796        90/60 km/h
...       ...               ...
1425     4647           50 km/h
1426     5085           50 km/h
1427     5286           50 km/h
1428     5517           50 km/h
1429     5421           40 km/h

[1430 rows x 2 columns]

In [100]:
for index, row in df_fim.iterrows():
    velocidade = str(row['velocidade_maxima']).replace(" km/h", "")
    df_fim.loc[index,"velocidade_maxima"] = velocidade

In [101]:
df_fim

     id_radar velocidade_maxima
0        6666                50
1        6667                50
2        6742             90/60
3        6743             90/60
4        6796             90/60
...       ...               ...
1425     4647                50
1426     5085                50
1427     5286                50
1428     5517                50
1429     5421                40

[1430 rows x 2 columns]

In [ ]:
df_fim.loc[df_fim['id_radar'] == '4651', "velocidade_maxima"] = '50'
df_fim.loc[df_fim['id_radar'] == '4650', "velocidade_maxima"] = '50'

In [109]:
for index, row in df_fim.iterrows():
    velocidade = list(map(float,str(row['velocidade_maxima']).split('/')))
    v = sum(velocidade)/len(velocidade)
    df_fim.loc[index,"velocidade_maxima"] = int(v)

In [111]:
df_fim

     id_radar velocidade_maxima
0        6666                50
1        6667                50
2        6742                75
3        6743                75
4        6796                75
...       ...               ...
1425     4647                50
1426     5085                50
1427     5286                50
1428     5517                50
1429     5421                40

[1430 rows x 2 columns]

In [115]:
df_fim.to_csv("C:/Users/Willian/Desktop/Radartona/bases_tratadas/base_radares_tratada.csv",sep=";", index=False)